{
  "openapi": "3.1.0",
  "info": {
    "title": "BankSync API",
    "version": "1.0.0",
    "description": "Connect bank accounts and sync financial data to Notion, Google Sheets, and Airtable. Authenticate with an API key (X-API-Key header) or a Firebase ID token (Bearer).",
    "contact": { "name": "BankSync Support", "url": "https://banksync.io" }
  },
  "servers": [
    { "url": "https://api.banksync.io", "description": "Production" }
  ],
  "components": {
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key",
        "description": "API key — pass in the X-API-Key header. Obtain from Developer Settings in the BankSync app."
      },
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Firebase ID token — pass as a Bearer token in the Authorization header."
      }
    },
    "schemas": {
      "TriggerSyncBody": {
        "type": "object",
        "properties": {
          "startDate": {
            "type": "string",
            "description": "Start date (YYYY-MM-DD) for date-range syncs (transactions, trades)."
          },
          "endDate": {
            "type": "string",
            "description": "End date (YYYY-MM-DD) for date-range syncs (transactions, trades)."
          },
          "forceCancelActive": {
            "type": "boolean",
            "description": "When true, cancel any currently-running sync on this feed before starting the new one. Use this for user-initiated retries when the previous sync is stuck. Defaults to false."
          },
          "resetCursors": {
            "type": "boolean",
            "description": "When true, clear all per-bank cursors, tier-1/tier-2 dedup state, and the date-based watermark before fetching. Use for backfills or recovery when the incremental cursor has gone stale. Defaults to false (normal incremental sync)."
          },
          "skipDedup": {
            "type": "boolean",
            "description": "When true, bypass the per-record dedup guard for this run. Use for backfills where upstream IDs are known-stable but downstream dedup has drifted. Defaults to false."
          }
        }
      },
      "ConditionGroup": {
        "type": "object",
        "properties": {
          "logic": { "type": "string", "enum": ["and", "or"] },
          "conditions": {
            "type": "array",
            "minItems": 1,
            "items": {
              "oneOf": [
                {
                  "type": "object",
                  "properties": {
                    "field": { "type": "string" },
                    "operator": { "type": "string" },
                    "value": {
                      "oneOf": [{ "type": "string" }, { "type": "number" }]
                    }
                  },
                  "required": ["field", "operator"]
                },
                { "$ref": "#/components/schemas/ConditionGroup" }
              ]
            }
          }
        },
        "required": ["logic", "conditions"]
      }
    },
    "parameters": {}
  },
  "paths": {
    "/v1/banks": {
      "get": {
        "operationId": "listBanks",
        "summary": "List bank connections",
        "description": "List banks owned by the current workspace. Pass `?scope=family` to include banks from every portal under this workspace — useful for accountants who want a single view across all client portals. Family scope requires admin+ role and is only valid on a top-level workspace.",
        "tags": ["Banks"],
        "security": [{ "apiKey": [] }, { "bearerAuth": [] }],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "enum": ["self", "family"],
              "description": "Resource scope. `self` (default) returns this workspace only. `family` returns this workspace plus every live portal under it; each row gains a `portal: { id, name, icon } | null` badge and a `workspaceId` field. Admin+ only; top-level workspaces only."
            },
            "required": false,
            "description": "Resource scope. `self` (default) returns this workspace only. `family` returns this workspace plus every live portal under it; each row gains a `portal: { id, name, icon } | null` badge and a `workspaceId` field. Admin+ only; top-level workspaces only.",
            "name": "scope",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "List of banks. When `scope=family`, each row additionally carries `workspaceId` and `portal`.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "enum": [true] },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": { "type": "string" },
                          "name": { "type": "string" },
                          "source": {
                            "type": "string",
                            "enum": ["plaid", "snaptrade", "saltedge", "fiskil"]
                          },
                          "type": { "type": "string" },
                          "order": { "type": "number" },
                          "icon": { "type": "string" },
                          "connectionStatus": {
                            "type": "object",
                            "properties": {
                              "status": { "type": "string" },
                              "errorCode": { "type": "string" },
                              "errorMessage": { "type": "string" }
                            },
                            "required": ["status"]
                          },
                          "institutionId": { "type": "string" },
                          "createdAt": { "type": "string" },
                          "updatedAt": { "type": "string" },
                          "links": {
                            "type": "object",
                            "additionalProperties": { "type": "string" }
                          }
                        },
                        "required": [
                          "id",
                          "name",
                          "source",
                          "type",
                          "order",
                          "createdAt",
                          "updatedAt",
                          "links"
                        ]
                      }
                    }
                  },
                  "required": ["success", "data"]
                }
              }
            }
          },
          "400": {
            "description": "Invalid `scope` value, or `scope=family` was requested against a portal workspace",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "enum": [false] },
                    "error": { "type": "string" }
                  },
                  "required": ["success", "error"]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "enum": [false] },
                    "error": { "type": "string" }
                  },
                  "required": ["success", "error"]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — `scope=family` requires admin+ role",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "enum": [false] },
                    "error": { "type": "string" }
                  },
                  "required": ["success", "error"]
                }
              }
            }
          }
        }
      }
    },
    "/v1/banks/{bid}": {
      "get": {
        "operationId": "getBank",
        "summary": "Get a bank connection",
        "tags": ["Banks"],
        "security": [{ "apiKey": [] }, { "bearerAuth": [] }],
        "parameters": [
          {
            "schema": { "type": "string", "description": "Bank ID" },
            "required": true,
            "description": "Bank ID",
            "name": "bid",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Bank detail",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "enum": [true] },
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": { "type": "string" },
                        "name": { "type": "string" },
                        "source": {
                          "type": "string",
                          "enum": ["plaid", "snaptrade", "saltedge", "fiskil"]
                        },
                        "type": { "type": "string" },
                        "order": { "type": "number" },
                        "icon": { "type": "string" },
                        "connectionStatus": {
                          "type": "object",
                          "properties": {
                            "status": { "type": "string" },
                            "errorCode": { "type": "string" },
                            "errorMessage": { "type": "string" }
                          },
                          "required": ["status"]
                        },
                        "institutionId": { "type": "string" },
                        "createdAt": { "type": "string" },
                        "updatedAt": { "type": "string" },
                        "links": {
                          "type": "object",
                          "additionalProperties": { "type": "string" }
                        }
                      },
                      "required": [
                        "id",
                        "name",
                        "source",
                        "type",
                        "order",
                        "createdAt",
                        "updatedAt",
                        "links"
                      ]
                    }
                  },
                  "required": ["success", "data"]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "enum": [false] },
                    "error": { "type": "string" }
                  },
                  "required": ["success", "error"]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "enum": [false] },
                    "error": { "type": "string" }
                  },
                  "required": ["success", "error"]
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "enum": [false] },
                    "error": { "type": "string" }
                  },
                  "required": ["success", "error"]
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteBank",
        "summary": "Remove a bank connection",
        "tags": ["Banks"],
        "security": [{ "apiKey": [] }, { "bearerAuth": [] }],
        "parameters": [
          {
            "schema": { "type": "string", "description": "Bank ID" },
            "required": true,
            "description": "Bank ID",
            "name": "bid",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Bank removed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "enum": [true] },
                    "data": {
                      "type": "object",
                      "properties": {
                        "deleted": { "type": "boolean", "enum": [true] }
                      },
                      "required": ["deleted"]
                    }
                  },
                  "required": ["success", "data"]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "enum": [false] },
                    "error": { "type": "string" }
                  },
                  "required": ["success", "error"]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "enum": [false] },
                    "error": { "type": "string" }
                  },
                  "required": ["success", "error"]
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "enum": [false] },
                    "error": { "type": "string" }
                  },
                  "required": ["success", "error"]
                }
              }
            }
          }
        }
      }
    },
    "/v1/banks/connections/start": {
      "post": {
        "operationId": "startConnection",
        "summary": "Start a new bank connection",
        "description": "Initiates a provider-specific connection flow. Returns a `ConnectionStart` payload the client renders — a Plaid Link token, a portal popup URL, or an OAuth redirect URL depending on the provider.",
        "tags": ["Banks"],
        "security": [{ "apiKey": [] }, { "bearerAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "providerInstanceId": {
                    "type": "string",
                    "minLength": 3,
                    "pattern": "^[a-z]+:[a-z0-9_-]+$"
                  },
                  "email": { "type": "string", "format": "email" },
                  "mobile": { "type": "string" },
                  "institutionId": { "type": "string" },
                  "countryCodes": {
                    "type": "array",
                    "items": { "type": "string" }
                  },
                  "redirectUri": { "type": "string" },
                  "brokerageSlug": { "type": "string" },
                  "saltedgeConsentScopes": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "enum": ["holder_info", "accounts", "transactions"]
                    }
                  },
                  "connectionType": {
                    "type": "string",
                    "enum": ["read", "trade"]
                  },
                  "forceNewConnection": { "type": "boolean" }
                },
                "required": ["providerInstanceId", "email"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Connection flow initiated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "enum": [true] },
                    "data": {
                      "oneOf": [
                        {
                          "type": "object",
                          "properties": {
                            "flow": {
                              "type": "string",
                              "enum": ["plaid_link"]
                            },
                            "linkToken": { "type": "string" },
                            "expectedPayloadKind": {
                              "type": "string",
                              "enum": ["plaid_public_token"]
                            }
                          },
                          "required": [
                            "flow",
                            "linkToken",
                            "expectedPayloadKind"
                          ]
                        },
                        {
                          "type": "object",
                          "properties": {
                            "flow": {
                              "type": "string",
                              "enum": ["fiskil_link"]
                            },
                            "authSessionId": { "type": "string" },
                            "expectedPayloadKind": {
                              "type": "string",
                              "enum": ["provider_connection_id"]
                            }
                          },
                          "required": [
                            "flow",
                            "authSessionId",
                            "expectedPayloadKind"
                          ]
                        },
                        {
                          "type": "object",
                          "properties": {
                            "flow": {
                              "type": "string",
                              "enum": ["portal_popup"]
                            },
                            "url": { "type": "string" },
                            "expiresAt": {
                              "type": "string",
                              "format": "date-time"
                            },
                            "expectedPayloadKind": {
                              "type": "string",
                              "enum": ["provider_connection_id"]
                            }
                          },
                          "required": ["flow", "url", "expectedPayloadKind"]
                        },
                        {
                          "type": "object",
                          "properties": {
                            "flow": {
                              "type": "string",
                              "enum": ["oauth_redirect"]
                            },
                            "url": { "type": "string" },
                            "expiresAt": {
                              "type": "string",
                              "format": "date-time"
                            },
                            "expectedPayloadKind": {
                              "type": "string",
                              "enum": ["provider_connection_id"]
                            }
                          },
                          "required": ["flow", "url", "expectedPayloadKind"]
                        },
                        {
                          "type": "object",
                          "properties": {
                            "flow": {
                              "type": "string",
                              "enum": ["existing_connection"]
                            },
                            "existingBanks": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "id": { "type": "string" },
                                  "name": { "type": "string" },
                                  "requiresReauth": { "type": "boolean" }
                                },
                                "required": ["id", "name", "requiresReauth"]
                              }
                            },
                            "canCreateAdditional": { "type": "boolean" }
                          },
                          "required": [
                            "flow",
                            "existingBanks",
                            "canCreateAdditional"
                          ]
                        }
                      ]
                    }
                  },
                  "required": ["success", "data"]
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "enum": [false] },
                    "error": { "type": "string" }
                  },
                  "required": ["success", "error"]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "enum": [false] },
                    "error": { "type": "string" }
                  },
                  "required": ["success", "error"]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden or plan limit reached",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "enum": [false] },
                    "error": { "type": "string" }
                  },
                  "required": ["success", "error"]
                }
              }
            }
          },
          "501": {
            "description": "Provider not available in this environment",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "enum": [false] },
                    "error": { "type": "string" }
                  },
                  "required": ["success", "error"]
                }
              }
            }
          }
        }
      }
    },
    "/v1/banks/connections/complete": {
      "post": {
        "operationId": "completeConnection",
        "summary": "Complete an in-flight bank connection",
        "description": "Exchanges the provider callback payload (public_token or connection_id) for a persisted bank connection. Returns the bank ID, whether it was newly created, and live account data.",
        "tags": ["Banks"],
        "security": [{ "apiKey": [] }, { "bearerAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "providerInstanceId": {
                    "type": "string",
                    "minLength": 3,
                    "pattern": "^[a-z]+:[a-z0-9_-]+$"
                  },
                  "payload": {
                    "oneOf": [
                      {
                        "type": "object",
                        "properties": {
                          "kind": {
                            "type": "string",
                            "enum": ["plaid_public_token"]
                          },
                          "publicToken": { "type": "string" },
                          "institutionId": { "type": "string" }
                        },
                        "required": ["kind", "publicToken"]
                      },
                      {
                        "type": "object",
                        "properties": {
                          "kind": {
                            "type": "string",
                            "enum": ["provider_connection_id"]
                          },
                          "connectionId": { "type": "string", "minLength": 1 }
                        },
                        "required": ["kind", "connectionId"]
                      }
                    ]
                  }
                },
                "required": ["providerInstanceId", "payload"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Connection established",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "enum": [true] },
                    "bankId": { "type": "string" },
                    "created": { "type": "boolean" },
                    "accounts": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": { "nullable": true }
                      }
                    }
                  },
                  "required": ["success", "bankId", "created", "accounts"]
                }
              }
            }
          },
          "400": {
            "description": "Invalid payload",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "enum": [false] },
                    "error": { "type": "string" }
                  },
                  "required": ["success", "error"]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "enum": [false] },
                    "error": { "type": "string" }
                  },
                  "required": ["success", "error"]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden or plan limit reached",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "enum": [false] },
                    "error": { "type": "string" }
                  },
                  "required": ["success", "error"]
                }
              }
            }
          },
          "501": {
            "description": "Provider not available in this environment",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "enum": [false] },
                    "error": { "type": "string" }
                  },
                  "required": ["success", "error"]
                }
              }
            }
          }
        }
      }
    },
    "/v1/banks/connections/{bid}/reauth": {
      "post": {
        "operationId": "reauthConnection",
        "summary": "Reauthorise an existing bank connection",
        "description": "Produces a new connection start payload for an existing bank. Use when the connection has expired or been revoked.",
        "tags": ["Banks"],
        "security": [{ "apiKey": [] }, { "bearerAuth": [] }],
        "parameters": [
          {
            "schema": { "type": "string", "description": "Bank ID" },
            "required": true,
            "description": "Bank ID",
            "name": "bid",
            "in": "path"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": { "redirectUri": { "type": "string" } }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Reauth flow initiated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "enum": [true] },
                    "data": {
                      "oneOf": [
                        {
                          "type": "object",
                          "properties": {
                            "flow": {
                              "type": "string",
                              "enum": ["plaid_link"]
                            },
                            "linkToken": { "type": "string" },
                            "expectedPayloadKind": {
                              "type": "string",
                              "enum": ["plaid_public_token"]
                            }
                          },
                          "required": [
                            "flow",
                            "linkToken",
                            "expectedPayloadKind"
                          ]
                        },
                        {
                          "type": "object",
                          "properties": {
                            "flow": {
                              "type": "string",
                              "enum": ["fiskil_link"]
                            },
                            "authSessionId": { "type": "string" },
                            "expectedPayloadKind": {
                              "type": "string",
                              "enum": ["provider_connection_id"]
                            }
                          },
                          "required": [
                            "flow",
                            "authSessionId",
                            "expectedPayloadKind"
                          ]
                        },
                        {
                          "type": "object",
                          "properties": {
                            "flow": {
                              "type": "string",
                              "enum": ["portal_popup"]
                            },
                            "url": { "type": "string" },
                            "expiresAt": {
                              "type": "string",
                              "format": "date-time"
                            },
                            "expectedPayloadKind": {
                              "type": "string",
                              "enum": ["provider_connection_id"]
                            }
                          },
                          "required": ["flow", "url", "expectedPayloadKind"]
                        },
                        {
                          "type": "object",
                          "properties": {
                            "flow": {
                              "type": "string",
                              "enum": ["oauth_redirect"]
                            },
                            "url": { "type": "string" },
                            "expiresAt": {
                              "type": "string",
                              "format": "date-time"
                            },
                            "expectedPayloadKind": {
                              "type": "string",
                              "enum": ["provider_connection_id"]
                            }
                          },
                          "required": ["flow", "url", "expectedPayloadKind"]
                        },
                        {
                          "type": "object",
                          "properties": {
                            "flow": {
                              "type": "string",
                              "enum": ["existing_connection"]
                            },
                            "existingBanks": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "id": { "type": "string" },
                                  "name": { "type": "string" },
                                  "requiresReauth": { "type": "boolean" }
                                },
                                "required": ["id", "name", "requiresReauth"]
                              }
                            },
                            "canCreateAdditional": { "type": "boolean" }
                          },
                          "required": [
                            "flow",
                            "existingBanks",
                            "canCreateAdditional"
                          ]
                        }
                      ]
                    }
                  },
                  "required": ["success", "data"]
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "enum": [false] },
                    "error": { "type": "string" }
                  },
                  "required": ["success", "error"]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "enum": [false] },
                    "error": { "type": "string" }
                  },
                  "required": ["success", "error"]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "enum": [false] },
                    "error": { "type": "string" }
                  },
                  "required": ["success", "error"]
                }
              }
            }
          },
          "404": {
            "description": "Bank not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "enum": [false] },
                    "error": { "type": "string" }
                  },
                  "required": ["success", "error"]
                }
              }
            }
          }
        }
      }
    },
    "/v1/banks/search": {
      "post": {
        "operationId": "searchInstitutions",
        "summary": "Search for financial institutions",
        "description": "Search the institution catalog for providers currently connectable in this workspace and environment. Results exclude providers whose feature gate is disabled as well as catalog-only seed data that cannot be connected in-app.",
        "tags": ["Banks"],
        "security": [{ "apiKey": [] }, { "bearerAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "query": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 100
                  },
                  "countryCodes": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "minLength": 2,
                      "maxLength": 2
                    },
                    "maxItems": 20
                  },
                  "providerInstanceId": { "type": "string", "maxLength": 64 }
                },
                "required": ["query"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Search results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "enum": [true] },
                    "data": {
                      "type": "object",
                      "properties": {
                        "institutions": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": { "type": "string" },
                              "name": { "type": "string" },
                              "logo": { "type": "string" },
                              "countryCodes": {
                                "type": "array",
                                "items": { "type": "string" }
                              },
                              "provider": { "type": "string" },
                              "providerInstanceId": { "type": "string" },
                              "region": { "type": "string" },
                              "products": {
                                "type": "array",
                                "items": { "type": "string" }
                              },
                              "url": { "type": "string" },
                              "primaryColor": { "type": "string" },
                              "routingNumbers": {
                                "type": "array",
                                "items": { "type": "string" }
                              },
                              "tags": {
                                "type": "array",
                                "items": { "type": "string" }
                              }
                            },
                            "required": [
                              "id",
                              "name",
                              "countryCodes",
                              "provider"
                            ]
                          }
                        },
                        "providers": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": { "type": "string" },
                              "status": {
                                "type": "string",
                                "enum": [
                                  "ok",
                                  "rate_limited",
                                  "failed",
                                  "skipped_unsupported_country",
                                  "skipped_unsupported_capability",
                                  "skipped_excluded"
                                ]
                              },
                              "contributed": {
                                "type": "integer",
                                "minimum": 0
                              },
                              "error": { "type": "string" },
                              "providerErrorCode": { "type": "string" },
                              "retryAfter": {
                                "type": "string",
                                "format": "date-time"
                              }
                            },
                            "required": ["id", "status", "contributed"]
                          }
                        }
                      },
                      "required": ["institutions", "providers"]
                    }
                  },
                  "required": ["success", "data"]
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "enum": [false] },
                    "error": { "type": "string" }
                  },
                  "required": ["success", "error"]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "enum": [false] },
                    "error": { "type": "string" }
                  },
                  "required": ["success", "error"]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "enum": [false] },
                    "error": { "type": "string" }
                  },
                  "required": ["success", "error"]
                }
              }
            }
          }
        }
      }
    },
    "/v1/banks/{bid}/accounts": {
      "get": {
        "operationId": "listAccounts",
        "summary": "List accounts for a bank",
        "tags": ["Accounts"],
        "security": [{ "apiKey": [] }, { "bearerAuth": [] }],
        "parameters": [
          {
            "schema": { "type": "string", "description": "Bank ID" },
            "required": true,
            "description": "Bank ID",
            "name": "bid",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "List of accounts",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "enum": [true] },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": { "type": "string" },
                          "bankId": { "type": "string" },
                          "accountNumber": { "type": "string" },
                          "accountName": { "type": "string" },
                          "accountType": { "type": "string" },
                          "balance": { "type": "number" },
                          "availableBalance": { "type": "number" },
                          "currency": { "type": "string" },
                          "createdAt": { "type": "string" },
                          "updatedAt": { "type": "string" },
                          "links": {
                            "type": "object",
                            "additionalProperties": { "type": "string" }
                          }
                        },
                        "required": [
                          "id",
                          "bankId",
                          "accountNumber",
                          "accountType",
                          "balance",
                          "availableBalance",
                          "currency",
                          "createdAt",
                          "updatedAt",
                          "links"
                        ]
                      }
                    }
                  },
                  "required": ["success", "data"]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "enum": [false] },
                    "error": { "type": "string" }
                  },
                  "required": ["success", "error"]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "enum": [false] },
                    "error": { "type": "string" }
                  },
                  "required": ["success", "error"]
                }
              }
            }
          }
        }
      }
    },
    "/v1/banks/{bid}/accounts/{aid}": {
      "get": {
        "operationId": "getAccount",
        "summary": "Get an account",
        "tags": ["Accounts"],
        "security": [{ "apiKey": [] }, { "bearerAuth": [] }],
        "parameters": [
          {
            "schema": { "type": "string", "description": "Bank ID" },
            "required": true,
            "description": "Bank ID",
            "name": "bid",
            "in": "path"
          },
          {
            "schema": { "type": "string", "description": "Account ID" },
            "required": true,
            "description": "Account ID",
            "name": "aid",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Account detail",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "enum": [true] },
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": { "type": "string" },
                        "bankId": { "type": "string" },
                        "accountNumber": { "type": "string" },
                        "accountName": { "type": "string" },
                        "accountType": { "type": "string" },
                        "balance": { "type": "number" },
                        "availableBalance": { "type": "number" },
                        "currency": { "type": "string" },
                        "createdAt": { "type": "string" },
                        "updatedAt": { "type": "string" },
                        "links": {
                          "type": "object",
                          "additionalProperties": { "type": "string" }
                        }
                      },
                      "required": [
                        "id",
                        "bankId",
                        "accountNumber",
                        "accountType",
                        "balance",
                        "availableBalance",
                        "currency",
                        "createdAt",
                        "updatedAt",
                        "links"
                      ]
                    }
                  },
                  "required": ["success", "data"]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "enum": [false] },
                    "error": { "type": "string" }
                  },
                  "required": ["success", "error"]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "enum": [false] },
                    "error": { "type": "string" }
                  },
                  "required": ["success", "error"]
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "enum": [false] },
                    "error": { "type": "string" }
                  },
                  "required": ["success", "error"]
                }
              }
            }
          }
        }
      }
    },
    "/v1/banks/{bid}/accounts/{aid}/transactions": {
      "get": {
        "operationId": "listTransactions",
        "summary": "List transactions for an account",
        "tags": ["Transactions"],
        "security": [{ "apiKey": [] }, { "bearerAuth": [] }],
        "parameters": [
          {
            "schema": { "type": "string", "description": "Bank ID" },
            "required": true,
            "description": "Bank ID",
            "name": "bid",
            "in": "path"
          },
          {
            "schema": { "type": "string", "description": "Account ID" },
            "required": true,
            "description": "Account ID",
            "name": "aid",
            "in": "path"
          },
          {
            "schema": {
              "type": "string",
              "description": "Cursor for incremental delta sync (providers that support delta-cursor mode)"
            },
            "required": false,
            "description": "Cursor for incremental delta sync (providers that support delta-cursor mode)",
            "name": "cursor",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "pattern": "^\\d{4}-\\d{2}-\\d{2}$",
              "description": "Start date (YYYY-MM-DD)"
            },
            "required": false,
            "description": "Start date (YYYY-MM-DD)",
            "name": "from",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "pattern": "^\\d{4}-\\d{2}-\\d{2}$",
              "description": "End date (YYYY-MM-DD)"
            },
            "required": false,
            "description": "End date (YYYY-MM-DD)",
            "name": "to",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "List of transactions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "enum": [true] },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": { "type": "string" },
                          "date": { "type": "string" },
                          "authorizedDate": { "type": "string" },
                          "description": { "type": "string" },
                          "originalDescription": { "type": "string" },
                          "amount": { "type": "number" },
                          "creditAmount": { "type": "number" },
                          "debitAmount": { "type": "number" },
                          "currency": { "type": "string" },
                          "category": { "type": "string" },
                          "type": { "type": "string" },
                          "reference": { "type": "string" },
                          "pending": { "type": "boolean" },
                          "pendingTransactionId": {
                            "type": "string",
                            "nullable": true
                          },
                          "accountId": { "type": "string" },
                          "accountName": { "type": "string" },
                          "accountNumber": { "type": "string" },
                          "bankId": { "type": "string" },
                          "bank": { "type": "string" }
                        },
                        "required": [
                          "id",
                          "date",
                          "description",
                          "amount",
                          "creditAmount",
                          "debitAmount",
                          "currency",
                          "category",
                          "type",
                          "pending",
                          "accountId",
                          "bankId"
                        ]
                      }
                    }
                  },
                  "required": ["success", "data"]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "enum": [false] },
                    "error": { "type": "string" }
                  },
                  "required": ["success", "error"]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "enum": [false] },
                    "error": { "type": "string" }
                  },
                  "required": ["success", "error"]
                }
              }
            }
          }
        }
      }
    },
    "/v1/banks/{bid}/accounts/{aid}/balances": {
      "get": {
        "operationId": "getBalance",
        "summary": "Get live balance for an account",
        "tags": ["Balances"],
        "security": [{ "apiKey": [] }, { "bearerAuth": [] }],
        "parameters": [
          {
            "schema": { "type": "string", "description": "Bank ID" },
            "required": true,
            "description": "Bank ID",
            "name": "bid",
            "in": "path"
          },
          {
            "schema": { "type": "string", "description": "Account ID" },
            "required": true,
            "description": "Account ID",
            "name": "aid",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Live balance for the account",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "enum": [true] },
                    "data": {
                      "type": "object",
                      "properties": {
                        "date": { "type": "string" },
                        "bank": { "type": "string" },
                        "account": { "type": "string" },
                        "accountName": { "type": "string" },
                        "accountNumber": { "type": "string" },
                        "accountType": { "type": "string" },
                        "accountId": { "type": "string" },
                        "bankId": { "type": "string" },
                        "amount": { "type": "number" },
                        "availableBalance": {
                          "type": "number",
                          "nullable": true
                        },
                        "pendingBalance": { "type": "number" },
                        "currency": { "type": "string" }
                      },
                      "required": [
                        "date",
                        "account",
                        "accountName",
                        "accountNumber",
                        "accountType",
                        "accountId",
                        "bankId",
                        "amount",
                        "availableBalance",
                        "currency"
                      ]
                    }
                  },
                  "required": ["success", "data"]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "enum": [false] },
                    "error": { "type": "string" }
                  },
                  "required": ["success", "error"]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "enum": [false] },
                    "error": { "type": "string" }
                  },
                  "required": ["success", "error"]
                }
              }
            }
          }
        }
      }
    },
    "/v1/banks/{bid}/accounts/{aid}/trades": {
      "get": {
        "operationId": "listTrades",
        "summary": "List investment trades for an account",
        "tags": ["Trades"],
        "security": [{ "apiKey": [] }, { "bearerAuth": [] }],
        "parameters": [
          {
            "schema": { "type": "string", "description": "Bank ID" },
            "required": true,
            "description": "Bank ID",
            "name": "bid",
            "in": "path"
          },
          {
            "schema": { "type": "string", "description": "Account ID" },
            "required": true,
            "description": "Account ID",
            "name": "aid",
            "in": "path"
          },
          {
            "schema": {
              "type": "string",
              "pattern": "^\\d{4}-\\d{2}-\\d{2}$",
              "description": "Start date (YYYY-MM-DD, default last 90 days)"
            },
            "required": false,
            "description": "Start date (YYYY-MM-DD, default last 90 days)",
            "name": "from",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "pattern": "^\\d{4}-\\d{2}-\\d{2}$",
              "description": "End date (YYYY-MM-DD, default today)"
            },
            "required": false,
            "description": "End date (YYYY-MM-DD, default today)",
            "name": "to",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "List of trades",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "enum": [true] },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": { "type": "string" },
                          "accountId": { "type": "string" },
                          "bankId": { "type": "string" },
                          "date": { "type": "string" },
                          "type": {
                            "type": "string",
                            "description": "buy, sell, dividend, split, etc."
                          },
                          "securityName": { "type": "string" },
                          "securityId": { "type": "string" },
                          "ticker": { "type": "string" },
                          "quantity": { "type": "number" },
                          "price": { "type": "number" },
                          "amount": { "type": "number" },
                          "fees": { "type": "number" },
                          "currency": { "type": "string" }
                        },
                        "required": [
                          "id",
                          "accountId",
                          "date",
                          "type",
                          "amount",
                          "currency"
                        ]
                      }
                    }
                  },
                  "required": ["success", "data"]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "enum": [false] },
                    "error": { "type": "string" }
                  },
                  "required": ["success", "error"]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "enum": [false] },
                    "error": { "type": "string" }
                  },
                  "required": ["success", "error"]
                }
              }
            }
          }
        }
      }
    },
    "/v1/banks/{bid}/accounts/{aid}/holdings": {
      "get": {
        "operationId": "listHoldings",
        "summary": "List current investment holdings for an account",
        "tags": ["Holdings"],
        "security": [{ "apiKey": [] }, { "bearerAuth": [] }],
        "parameters": [
          {
            "schema": { "type": "string", "description": "Bank ID" },
            "required": true,
            "description": "Bank ID",
            "name": "bid",
            "in": "path"
          },
          {
            "schema": { "type": "string", "description": "Account ID" },
            "required": true,
            "description": "Account ID",
            "name": "aid",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Current investment positions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "enum": [true] },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "accountId": { "type": "string" },
                          "bankId": { "type": "string" },
                          "securityName": { "type": "string" },
                          "securityId": { "type": "string" },
                          "ticker": { "type": "string" },
                          "quantity": { "type": "number" },
                          "costBasis": { "type": "number", "nullable": true },
                          "currentValue": { "type": "number" },
                          "currentPrice": { "type": "number" },
                          "currency": { "type": "string" },
                          "isCashEquivalent": { "type": "boolean" }
                        },
                        "required": ["accountId", "quantity", "currency"]
                      }
                    }
                  },
                  "required": ["success", "data"]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "enum": [false] },
                    "error": { "type": "string" }
                  },
                  "required": ["success", "error"]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "enum": [false] },
                    "error": { "type": "string" }
                  },
                  "required": ["success", "error"]
                }
              }
            }
          }
        }
      }
    },
    "/v1/banks/{bid}/accounts/{aid}/orders": {
      "get": {
        "operationId": "listOrders",
        "summary": "List open and pending orders for an account",
        "description": "Returns orders in PENDING/PARTIALLY_FILLED/ACCEPTED/QUEUED/TRIGGERED status. Executed orders surface through the /trades endpoint instead. Returns an empty list for providers that do not expose orders (Plaid, SaltEdge).",
        "tags": ["Orders"],
        "security": [{ "apiKey": [] }, { "bearerAuth": [] }],
        "parameters": [
          {
            "schema": { "type": "string", "description": "Bank ID" },
            "required": true,
            "description": "Bank ID",
            "name": "bid",
            "in": "path"
          },
          {
            "schema": { "type": "string", "description": "Account ID" },
            "required": true,
            "description": "Account ID",
            "name": "aid",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Open/pending orders",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "enum": [true] },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": { "type": "string" },
                          "brokerageOrderId": { "type": "string" },
                          "date": { "type": "string" },
                          "status": { "type": "string" },
                          "action": { "type": "string" },
                          "orderType": { "type": "string" },
                          "timeInForce": { "type": "string" },
                          "totalQuantity": { "type": "number" },
                          "filledQuantity": { "type": "number" },
                          "openQuantity": { "type": "number" },
                          "canceledQuantity": { "type": "number" },
                          "limitPrice": { "type": "number", "nullable": true },
                          "stopPrice": { "type": "number", "nullable": true },
                          "trailingStop": {
                            "type": "number",
                            "nullable": true
                          },
                          "executionPrice": {
                            "type": "number",
                            "nullable": true
                          },
                          "currency": { "type": "string" },
                          "security": { "type": "string" },
                          "ticker": { "type": "string", "nullable": true },
                          "bank": { "type": "string" },
                          "accountId": { "type": "string" },
                          "bankId": { "type": "string" },
                          "executedAt": { "type": "string", "nullable": true },
                          "expiresAt": { "type": "string", "nullable": true }
                        },
                        "required": [
                          "id",
                          "brokerageOrderId",
                          "date",
                          "status",
                          "action",
                          "orderType",
                          "timeInForce",
                          "totalQuantity",
                          "filledQuantity",
                          "openQuantity",
                          "canceledQuantity",
                          "currency",
                          "security",
                          "bank"
                        ]
                      }
                    }
                  },
                  "required": ["success", "data"]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "enum": [false] },
                    "error": { "type": "string" }
                  },
                  "required": ["success", "error"]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "enum": [false] },
                    "error": { "type": "string" }
                  },
                  "required": ["success", "error"]
                }
              }
            }
          }
        }
      }
    },
    "/v1/banks/{bid}/accounts/{aid}/loan": {
      "get": {
        "operationId": "getLoan",
        "summary": "Get loan or liability details for an account",
        "tags": ["Loans"],
        "security": [{ "apiKey": [] }, { "bearerAuth": [] }],
        "parameters": [
          {
            "schema": { "type": "string", "description": "Bank ID" },
            "required": true,
            "description": "Bank ID",
            "name": "bid",
            "in": "path"
          },
          {
            "schema": { "type": "string", "description": "Account ID" },
            "required": true,
            "description": "Account ID",
            "name": "aid",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Loan / liability details for the account",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "enum": [true] },
                    "data": {
                      "type": "object",
                      "properties": {
                        "accountId": { "type": "string" },
                        "loanType": { "type": "string" },
                        "principalBalance": { "type": "number" },
                        "originationPrincipalAmount": { "type": "number" },
                        "interestRatePercentage": { "type": "number" },
                        "nextPaymentAmount": { "type": "number" },
                        "nextPaymentDueDate": { "type": "string" },
                        "maturityDate": { "type": "string" },
                        "isOverdue": { "type": "boolean" },
                        "currency": { "type": "string" }
                      },
                      "required": ["accountId"]
                    }
                  },
                  "required": ["success", "data"]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "enum": [false] },
                    "error": { "type": "string" }
                  },
                  "required": ["success", "error"]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "enum": [false] },
                    "error": { "type": "string" }
                  },
                  "required": ["success", "error"]
                }
              }
            }
          },
          "404": {
            "description": "No loan data found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "enum": [false] },
                    "error": { "type": "string" }
                  },
                  "required": ["success", "error"]
                }
              }
            }
          }
        }
      }
    },
    "/v1/feeds": {
      "get": {
        "operationId": "listFeeds",
        "summary": "List feeds",
        "description": "List feeds owned by the current workspace. Pass `?scope=family` to include feeds from every portal under this workspace. Family scope requires admin+ role and is only valid on a top-level workspace.",
        "tags": ["Feeds"],
        "security": [{ "apiKey": [] }, { "bearerAuth": [] }],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "enum": ["self", "family"],
              "description": "Resource scope. `self` (default) returns this workspace only. `family` includes every portal under it; each row gains `workspaceId` + `portal: { id, name, icon } | null`. Admin+ only, top-level workspaces only."
            },
            "required": false,
            "description": "Resource scope. `self` (default) returns this workspace only. `family` includes every portal under it; each row gains `workspaceId` + `portal: { id, name, icon } | null`. Admin+ only, top-level workspaces only.",
            "name": "scope",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "List of feeds. When `scope=family`, each row additionally carries `workspaceId` and `portal`.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "enum": [true] },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": { "type": "string" },
                          "name": { "type": "string" },
                          "icon": { "type": "string" },
                          "workspaceId": { "type": "string" },
                          "source": {
                            "type": "string",
                            "enum": ["sync", "extractor", "upload"]
                          },
                          "dataType": {
                            "type": "string",
                            "enum": [
                              "transactions",
                              "balances",
                              "trades",
                              "holdings",
                              "orders",
                              "loans",
                              "receipts",
                              "invoices",
                              "documents"
                            ]
                          },
                          "sourceConfig": {
                            "type": "object",
                            "additionalProperties": { "nullable": true }
                          },
                          "destinationConfig": {
                            "type": "object",
                            "additionalProperties": { "nullable": true }
                          },
                          "fieldMappings": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "sourceField": { "type": "string" },
                                "destinationField": { "type": "string" }
                              },
                              "required": ["sourceField", "destinationField"]
                            }
                          },
                          "dataTypeOptions": {
                            "type": "object",
                            "additionalProperties": { "nullable": true }
                          },
                          "extractionConfig": {
                            "type": "object",
                            "properties": {
                              "extractionFields": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "key": { "type": "string" },
                                    "name": { "type": "string" },
                                    "type": { "type": "string" },
                                    "description": { "type": "string" },
                                    "examples": {
                                      "type": "array",
                                      "items": { "type": "string" }
                                    },
                                    "isItemField": { "type": "boolean" }
                                  },
                                  "required": ["name", "type"]
                                }
                              },
                              "itemizePerRow": { "type": "boolean" },
                              "extractionInstructions": { "type": "string" }
                            },
                            "required": ["extractionFields", "itemizePerRow"]
                          },
                          "schedule": {
                            "type": "object",
                            "properties": {
                              "enabled": { "type": "boolean" },
                              "frequency": {
                                "type": "string",
                                "enum": ["hourly", "daily", "weekly", "monthly"]
                              },
                              "timeOfDay": {
                                "type": "string",
                                "pattern": "^\\d{2}:\\d{2}$",
                                "description": "\"HH:MM\" UTC format, e.g. \"09:30\""
                              },
                              "dayOfWeek": {
                                "type": "number",
                                "minimum": 0,
                                "maximum": 6
                              },
                              "dayOfMonth": {
                                "type": "number",
                                "minimum": 1,
                                "maximum": 31
                              }
                            },
                            "required": ["enabled", "frequency", "timeOfDay"]
                          },
                          "state": {
                            "type": "object",
                            "additionalProperties": { "nullable": true }
                          },
                          "order": { "type": "number" },
                          "createdAt": { "type": "string" },
                          "updatedAt": { "type": "string" }
                        },
                        "required": [
                          "id",
                          "name",
                          "source",
                          "dataType",
                          "state",
                          "order",
                          "createdAt",
                          "updatedAt"
                        ]
                      }
                    }
                  },
                  "required": ["success", "data"]
                }
              }
            }
          },
          "400": {
            "description": "Invalid `scope` value, or `scope=family` was requested against a portal workspace",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "enum": [false] },
                    "error": { "type": "string" }
                  },
                  "required": ["success", "error"]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "enum": [false] },
                    "error": { "type": "string" }
                  },
                  "required": ["success", "error"]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — `scope=family` requires admin+ role",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "enum": [false] },
                    "error": { "type": "string" }
                  },
                  "required": ["success", "error"]
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createFeed",
        "summary": "Create a feed",
        "tags": ["Feeds"],
        "security": [{ "apiKey": [] }, { "bearerAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "description": "Human-readable feed name, e.g. \"ANZ Transactions → Notion\""
                  },
                  "source": {
                    "type": "string",
                    "enum": ["sync", "extractor", "upload"],
                    "description": "\"sync\" = bank API; \"extractor\" = email/PDF AI extraction; \"upload\" = file upload"
                  },
                  "dataType": {
                    "type": "string",
                    "enum": [
                      "transactions",
                      "balances",
                      "trades",
                      "holdings",
                      "orders",
                      "loans",
                      "receipts",
                      "invoices",
                      "documents"
                    ],
                    "description": "Type of financial data this feed produces"
                  },
                  "icon": {
                    "type": "string",
                    "description": "Optional emoji or icon identifier"
                  },
                  "order": {
                    "type": "integer",
                    "description": "Display sort order"
                  },
                  "sourceConfig": {
                    "oneOf": [
                      {
                        "type": "object",
                        "properties": {
                          "type": { "type": "string", "enum": ["sync"] },
                          "accounts": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "bankId": {
                                  "type": "string",
                                  "description": "Bank ID — get from list_banks"
                                },
                                "accountId": {
                                  "type": "string",
                                  "description": "Account ID — get from list_accounts"
                                }
                              },
                              "required": ["bankId", "accountId"]
                            },
                            "minItems": 1,
                            "description": "One or more bank accounts to sync from"
                          }
                        },
                        "required": ["type", "accounts"],
                        "description": "Bank API sync source — pulls structured financial data from Plaid, SaltEdge, or SnapTrade"
                      },
                      {
                        "type": "object",
                        "properties": {
                          "type": { "type": "string", "enum": ["extractor"] },
                          "inboxAddress": {
                            "type": "string",
                            "format": "email",
                            "description": "Auto-generated forwarding email address (set by system on creation)"
                          },
                          "whitelistEnabled": {
                            "type": "boolean",
                            "default": false,
                            "description": "When true, only emails from addresses in the whitelist are processed"
                          },
                          "whitelist": {
                            "type": "array",
                            "items": { "type": "string", "format": "email" },
                            "description": "Allowed sender email addresses (only used when whitelistEnabled is true)"
                          }
                        },
                        "required": ["type"],
                        "description": "Email extraction source — processes forwarded emails using AI"
                      },
                      {
                        "type": "object",
                        "properties": {
                          "type": { "type": "string", "enum": ["upload"] }
                        },
                        "required": ["type"],
                        "description": "File upload source — processes uploaded PDFs/images using AI"
                      }
                    ],
                    "description": "How to connect to the data source. Required before triggering a sync."
                  },
                  "destinationConfig": {
                    "oneOf": [
                      {
                        "type": "object",
                        "properties": {
                          "type": { "type": "string", "enum": ["notion"] },
                          "integrationId": {
                            "type": "string",
                            "description": "Notion integration ID — get from list_integrations"
                          },
                          "databaseId": {
                            "type": "string",
                            "description": "Notion database ID to write records into"
                          }
                        },
                        "required": ["type", "integrationId", "databaseId"],
                        "description": "Write to a Notion database"
                      },
                      {
                        "type": "object",
                        "properties": {
                          "type": { "type": "string", "enum": ["airtable"] },
                          "integrationId": {
                            "type": "string",
                            "description": "Airtable integration ID — get from list_integrations"
                          },
                          "baseId": {
                            "type": "string",
                            "description": "Airtable base ID"
                          },
                          "tableId": {
                            "type": "string",
                            "description": "Airtable table ID to write records into"
                          }
                        },
                        "required": [
                          "type",
                          "integrationId",
                          "baseId",
                          "tableId"
                        ],
                        "description": "Write to an Airtable table"
                      },
                      {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "enum": ["google_sheets"]
                          },
                          "integrationId": {
                            "type": "string",
                            "description": "Google Sheets integration ID — get from list_integrations"
                          },
                          "spreadsheetId": {
                            "type": "string",
                            "description": "Google Sheets spreadsheet ID"
                          },
                          "sheetName": {
                            "type": "string",
                            "description": "Name of the sheet tab to write into"
                          },
                          "direction": {
                            "type": "string",
                            "enum": ["row", "column"],
                            "description": "\"row\" = each record is a row (default); \"column\" = each record is a column"
                          },
                          "headerRowOrColumn": {
                            "type": "integer",
                            "minimum": 0,
                            "exclusiveMinimum": true,
                            "description": "Row number (for row direction) or column number (for column direction) that contains headers"
                          },
                          "pushLocation": {
                            "type": "string",
                            "enum": ["beginning", "end"],
                            "description": "Where to insert new records: \"beginning\" prepends, \"end\" appends"
                          },
                          "attachmentFolderId": {
                            "type": "string",
                            "description": "Optional Google Drive folder ID for storing file attachments"
                          }
                        },
                        "required": [
                          "type",
                          "integrationId",
                          "spreadsheetId",
                          "sheetName",
                          "direction",
                          "headerRowOrColumn",
                          "pushLocation"
                        ],
                        "description": "Write to a Google Sheets spreadsheet"
                      },
                      {
                        "type": "object",
                        "properties": {
                          "type": { "type": "string", "enum": ["excel"] },
                          "integrationId": {
                            "type": "string",
                            "description": "Excel integration ID — get from list_integrations"
                          },
                          "driveId": {
                            "type": "string",
                            "description": "OneDrive drive ID (get from getWorkspaces)"
                          },
                          "workbookId": {
                            "type": "string",
                            "description": "Excel workbook item ID (get from searchDatabases)"
                          },
                          "worksheetName": {
                            "type": "string",
                            "description": "Name of the worksheet tab to write into"
                          },
                          "direction": {
                            "type": "string",
                            "enum": ["row", "column"],
                            "description": "\"row\" = each record is a row (default); \"column\" = each record is a column"
                          },
                          "headerRowOrColumn": {
                            "type": "integer",
                            "minimum": 0,
                            "exclusiveMinimum": true,
                            "description": "Row number (for row direction) or column number (for column direction) that contains headers"
                          },
                          "pushLocation": {
                            "type": "string",
                            "enum": ["beginning", "end"],
                            "description": "Where to insert new records: \"beginning\" prepends, \"end\" appends"
                          },
                          "attachmentFolderId": {
                            "type": "string",
                            "description": "Optional OneDrive folder ID for storing file attachments"
                          },
                          "attachmentDriveId": {
                            "type": "string",
                            "description": "Drive ID for the attachment folder (defaults to workbook driveId)"
                          },
                          "preferTablesApi": {
                            "type": "boolean",
                            "description": "Prefer Excel Tables API when target is inside an Excel Table (org accounts only)"
                          }
                        },
                        "required": [
                          "type",
                          "integrationId",
                          "driveId",
                          "workbookId",
                          "worksheetName",
                          "direction",
                          "headerRowOrColumn",
                          "pushLocation"
                        ],
                        "description": "Write to a Microsoft Excel workbook on OneDrive"
                      },
                      {
                        "type": "object",
                        "properties": {
                          "type": { "type": "string", "enum": ["webhook"] },
                          "integrationId": {
                            "type": "string",
                            "description": "Webhook endpoint integration ID — get from list_integrations"
                          }
                        },
                        "required": ["type", "integrationId"],
                        "description": "POST signed JSON to a customer HTTPS endpoint. No field mapping: the payload is the standard versioned envelope (see the webhooks developer docs). Supports transactions, balances, holdings, trades, orders, and loans."
                      }
                    ],
                    "description": "Where to write the data. Required before triggering a sync."
                  },
                  "fieldMappings": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "sourceField": {
                          "type": "string",
                          "description": "Source field key — get valid keys from get_data_type_schema"
                        },
                        "destinationField": {
                          "type": "string",
                          "description": "Destination property ID (Notion/Airtable) or column name (Sheets)"
                        }
                      },
                      "required": ["sourceField", "destinationField"]
                    },
                    "description": "Maps source fields to destination columns/properties"
                  },
                  "dataTypeOptions": {
                    "oneOf": [
                      {
                        "type": "object",
                        "properties": {
                          "dataType": {
                            "type": "string",
                            "enum": ["transactions"]
                          },
                          "pendingMode": {
                            "type": "string",
                            "enum": [
                              "sync_all",
                              "filter_pending",
                              "track_and_update"
                            ],
                            "description": "\"sync_all\" — include pending transactions as-is; \"filter_pending\" — exclude pending transactions; \"track_and_update\" — sync pending and update records when they settle (recommended)"
                          }
                        },
                        "required": ["dataType", "pendingMode"],
[...]
